{% extends "base.html" %}

{% block head %}
<!-- main.js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>
    <script src="{{ url_for('static', filename='js/server_connections.js') }}"></script>
    <script src="{{ url_for('static', filename='js/games/copy_to_clipboard.js') }}"></script>  
    <script src="{{ url_for('static', filename='js/games/redirect.js') }}"></script>
    <script src="{{ url_for('static', filename='js/games/initialise_globals.js') }}"></script>
    <script src="{{ url_for('static', filename='js/games/join_random.js') }}"></script>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/games/game_settings.css') }}">
{% endblock %}
        
{% block content %}
    <h1>Finding a random player</h1>
    <div id="timer">00:00</div>
{% endblock %}
