
{% extends "base.html" %}

{% block head %}

    <link rel="stylesheet" href="{{ url_for('static', filename='css/games/game_settings.css') }}">
{% endblock %}

{% block content %}
    <div id="options" class="options">
        <h2>{{ title }}</h2>
        <form id="onlineLinkForm" method="get">
            <button type="submit">Play online</button>
        </form>

        <form id="shareLinkForm" method="get">
            <button type="submit">Play with a friend</button>
        </form>

        <button>Play vs computer</button>
    </div>

    <script>
        function generateRandomKey() {
            let characters = 'ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789-_.~';
            let randomKey = '';

            for (let i = 0; i < 8; i++) {
                let randomIndex = Math.floor(Math.random() * characters.length);
                randomKey += characters.charAt(randomIndex);
            }

            return randomKey;
        }

        // Update the form action with the generated random key before submitting
        document.getElementById('shareLinkForm').addEventListener('submit', function (event) {
            event.preventDefault();
            let randomKey = generateRandomKey();
            window.location.href = `{{ url_for('games.share_link', game=title, random_key='__random_key__') }}`.replace('__random_key__', randomKey);
            
        }); 


        document.getElementById('onlineLinkForm').addEventListener('submit', function (event) {
            event.preventDefault();
            let randomKey = generateRandomKey();
            window.location.href = `{{ url_for('games.random', game=title, random_key='__random_key__') }}`.replace('__random_key__', randomKey);
            
        }); 
    </script>
{% endblock %}


