<!-- share_link.html -->

{% extends "base.html" %}

{% block head %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>

    
    

    <script src="{{ url_for('static', filename='js/server_connections.js') }}"></script> 
    
    <script src="{{ url_for('static', filename='js/games/copy_to_clipboard.js') }}"></script>  
    <script src="{{ url_for('static', filename='js/games/redirect.js') }}"></script>  

    <script src="{{ url_for('static', filename='js/games/initialise_globals.js') }}"></script>
    <script src="{{ url_for('static', filename='js/games/room_creation.js') }}"></script> 

    
    <link rel="stylesheet" href="{{ url_for('static', filename='css/games/game_settings.css') }}">
    
{% endblock %}
        
{% block content %}
    <p>Share this link with a friend</p>
    <div class="link_container" onclick="copyLinkToClipboard()">
        <p id="linkText">{{ link }}</p>
    </div>    

{% endblock %}
